<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910722504214-mecqhhub9uoop59rl7a3au9jftl4sn4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910722504214-mecqhhub9uoop59rl7a3au9jftl4sn4h</string>
	<key>API_KEY</key>
	<string>AIzaSyDae_Xu6Uix1ooXCUzxZMBTUD41GeBvEII</string>
	<key>GCM_SENDER_ID</key>
	<string>910722504214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ku.KUFoward</string>
	<key>PROJECT_ID</key>
	<string>ku-forward</string>
	<key>STORAGE_BUCKET</key>
	<string>ku-forward.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910722504214:ios:4624370f155096ac518737</string>
	<key>DATABASE_URL</key>
	<string>https://ku-forward.firebaseio.com</string>
</dict>
</plist>